/* = ????? ????? HTM */
@media (min-width: 992px) {
	body {

		margin: 0;
		font: 14px/1.8 Helvetica;
		color: #444;
		background-color: #dbdbdb;
	}

	a {
		text-decoration: none;
	}

	header {
		display: block;
		position: relative;
		margin: 0;
		background: #f9f9f9;
	}

	.back {
		font: normal 3em 'Agency FB';
		color: #0074A3;
		position: absolute;
		top: 10px;
		right: 10%;
	}

	.back:hover {
		text-decoration: underline;
	}

	h1 {
		margin: 0 0 0 2em;
	}

	h1 a {
		display: inline-block;
		font: normal 3em 'Agency FB';
		text-decoration: none;
	}

	.how {
		color: #990000;
	}

	.to {
		color: #0074A3;
	}

	.make {
		color: #006600;
	}

	.demo {
		font: normal 2em 'Agency FB';
	}

	/* main */
	#main {
		width: 94%;
		padding: 1% 3%;

	}

	#main h1 {
		text-align: center;
		font: 2em Helvetica;
		margin: 20px 0 10px 0;
		padding-bottom: 15px;
		border-bottom: 2px solid #444444;
	}

	/* ?????? ????? ????????? */
	.clear {
		margin-top: -1px;
		height: 1px;
		clear: both;
		zoom: 1;
	}

	/* Slider */
	.slider2 {
		/* ?????? ?????????? */
		width: 700px;
		height: 100px;
		background-color: rgb(229, 229, 229);
		/* ??????? ?????? ?????? ? ????? */
		margin: 50px auto;
		/* ?????????? ??????? ??? ?????? navy */
		padding: 0 30px;
		/* ???????????????? */
		position: relative;
		/* ?????? ?? ??? ??????? ?? ??????? */
		overflow: hidden;
	}

	/* ??????? ???? ?? ??????? ??????/????? ???????? ????????? ???? ????????? ????????,
    ??????? ????????????? ??? */
	.slider2::-moz-selection {
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	.slider2::selection {
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	.slide-list2 {
		position: relative;
		margin: 0;
		padding: 0;
	}

	.slide-wrap2 {
		position: relative;
		left: 0px;
		top: 0;
		/* ??????????? ????????? ?????? ??????? ???????? */
		width: 10000000px;
	}

	.slide-item2 {
		/* ?????? ?????? */
		width: 193px;
		height: 100px;
		text-align: center;
		/* ?????????? ??????? */
		padding: 10px;
		/* ????????? */
		float: left;
		margin-left: 15px;
	}

	.slide-item2_pig {
		background: url(../img/pig.png) no-repeat center;
		background-size: 120px;
	}

	.slide-item2_pig:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_rind {
		background: url(../img/Icon_Rind.png) no-repeat center;
		background-size: 100px;
	}
	.slide-item2_rind:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_horse {
		background: url(../img/horse.png) no-repeat center;
		background-size: 100px;
	}
	.slide-item2_horse:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_hund{
		background: url(../img/Hund.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_hund:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_schaf{
		background: url(../img/Schaf.png) no-repeat center;
		background-size: 120px;

	}
	.slide-item2_schaf:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_ziegenbock{
		background: url(../img/Ziegenbock.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_ziegenbock:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_camel{
		background: url(../img/Camel.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_camel:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}


	.slider2  i{
		font-size: 80px;
		color: rgb(83,83,83) !important;
		margin-top: 5px;
	}
	.slider2 i:hover{
		color: rgb(0,138,201 )!important;
	}
	/* ????????? ??????/????? */
	.navy2 {
		/* ?????????? ???????????????? */
		position: absolute;
		top: 0;
		padding-left: 0;
		width: 40px;
		height: 100px;
		z-index: 100;
		/* ?????? ?????? */
		cursor: pointer;
	}

	.prev-slide2 {
		left: 0;
		padding-left: 10px;
	}

	.next-slide2 {
		right: 0;

	}

	.navy.disable2 {
		background: #dbdbdb;
	}

	/* ????????? ?????/????? */
	.auto2 {
		width: 7px;
		height: 11px;
		cursor: pointer;
		margin: 10px auto;
	}
}
@media (min-width: 320px){
	body {

		margin: 0;
		font: 14px/1.8 Helvetica;
		color: #444;
		background-color: #dbdbdb;
	}

	a {
		text-decoration: none;
	}

	header {
		display: block;
		position: relative;
		margin: 0;
		background: #f9f9f9;
	}

	.back {
		font: normal 3em 'Agency FB';
		color: #0074A3;
		position: absolute;
		top: 10px;
		right: 10%;
	}

	.back:hover {
		text-decoration: underline;
	}

	h1 {
		margin: 0 0 0 2em;
	}

	h1 a {
		display: inline-block;
		font: normal 3em 'Agency FB';
		text-decoration: none;
	}

	.how {
		color: #990000;
	}

	.to {
		color: #0074A3;
	}

	.make {
		color: #006600;
	}

	.demo {
		font: normal 2em 'Agency FB';
	}

	/* main */
	#main {
		width: 94%;
		padding: 1% 3%;

	}

	#main h1 {
		text-align: center;
		font: 2em Helvetica;
		margin: 20px 0 10px 0;
		padding-bottom: 15px;
		border-bottom: 2px solid #444444;
	}

	/* ?????? ????? ????????? */
	.clear {
		margin-top: -1px;
		height: 1px;
		clear: both;
		zoom: 1;
	}

	/* Slider */
	.slider2 {
		/* ?????? ?????????? */
		width: 620px;
		height: 100px;
		background-color: rgb(229, 229, 229);
		/* ??????? ?????? ?????? ? ????? */
		margin: 50px auto;
		/* ?????????? ??????? ??? ?????? navy */
		padding: 0 30px;
		/* ???????????????? */
		position: relative;
		/* ?????? ?? ??? ??????? ?? ??????? */
		overflow: hidden;
	}

	/* ??????? ???? ?? ??????? ??????/????? ???????? ????????? ???? ????????? ????????,
    ??????? ????????????? ??? */
	.slider2::-moz-selection {
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	.slider2::selection {
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	.slide-list2 {
		position: relative;
		margin: 0;
		padding: 0;
	}

	.slide-wrap2 {
		position: relative;
		left: 0px;
		top: 0;
		/* ??????????? ????????? ?????? ??????? ???????? */
		width: 10000000px;
	}

	.slide-item2 {
		/* ?????? ?????? */
		width: 166px;
		height: 100px;
		text-align: center;
		/* ?????????? ??????? */
		padding: 10px;
		/* ????????? */
		float: left;
		margin-left: 15px;
	}

	.slide-item2_pig {
		background: url(../img/pig.png) no-repeat center;
		background-size: 103px;
	}

	.slide-item2_pig:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_rind {
		background: url(../img/Icon_Rind.png) no-repeat center;
		background-size: 100px;
	}
	.slide-item2_rind:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_horse {
		background: url(../img/horse.png) no-repeat center;
		background-size: 100px;
	}
	.slide-item2_horse:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_hund{
		background: url(../img/Hund.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_hund:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_schaf{
		background: url(../img/Schaf.png) no-repeat center;
		background-size: 120px;

	}
	.slide-item2_schaf:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_ziegenbock{
		background: url(../img/Ziegenbock.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_ziegenbock:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_camel{
		background: url(../img/Camel.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_camel:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}


	.slider2  i{
		font-size: 80px;
		color: rgb(83,83,83) !important;
		margin-top: 5px;
	}
	.slider2 i:hover{
		color: rgb(0,138,201 )!important;
	}
	/* ????????? ??????/????? */
	.navy2 {
		/* ?????????? ???????????????? */
		position: absolute;
		top: 0;
		padding-left: 0;
		width: 40px;
		height: 100px;
		z-index: 100;
		/* ?????? ?????? */
		cursor: pointer;
	}

	.prev-slide2 {
		left: 0;
		padding-left: 10px;
	}

	.next-slide2 {
		right: 0;

	}

	.navy.disable2 {
		background: #dbdbdb;
	}

	/* ????????? ?????/????? */
	.auto2 {
		width: 7px;
		height: 11px;
		cursor: pointer;
		margin: 10px auto;
	}
}
@media (max-width: 768px){
	.slider2{
		width: 400px;
	}
	.slide-item2{
		width: 146px;
		margin-left: 17px;
	}
	.slide-item2_pig,
	.slide-item2_rind,
	.slide-item2_horse{
		background-size: 94px;
	}
	.slide-item2_schaf{
		background-size:110px;
	}







}
@media (max-width: 1200px ){
	.slider2 {
		margin-bottom: 10px;
	}
	.animals a{
		margin-top: 5px;
	}
	.news{
		margin-top: 140px;
	}






}
@media (max-width: 535px ){
	.slider2{
		width: 300px ;
	}
	.slide-item2{
		width: 100px;
	}
	.slide-item2_pig,
	.slide-item2_rind,
	.slide-item2_horse,
	.slide-item2_schaf,
	.slide-item2_hund,
	.slide-item2_ziegenbock,
	.slide-item2_camel{
		background-size: 65px;
	}
	.flex-nav-prev{
		display: none;
	}
	.flex-nav-next{
		display: none;
	}
}
@media (max-width: 420px ){
	.slider2{
		width: 278px ;
		margin-left: 0;
		margin-right: 0;
	}
	body {

		margin: 0;
		font: 14px/1.8 Helvetica;
		color: #444;
		background-color: #dbdbdb;
	}

	a {
		text-decoration: none;
	}

	header {
		display: block;
		position: relative;
		margin: 0;
		background: #f9f9f9;
	}

	.back {
		font: normal 3em 'Agency FB';
		color: #0074A3;
		position: absolute;
		top: 10px;
		right: 10%;
	}

	.back:hover {
		text-decoration: underline;
	}

	h1 {
		margin: 0 0 0 2em;
	}

	h1 a {
		display: inline-block;
		font: normal 3em 'Agency FB';
		text-decoration: none;
	}

	.how {
		color: #990000;
	}

	.to {
		color: #0074A3;
	}

	.make {
		color: #006600;
	}

	.demo {
		font: normal 2em 'Agency FB';
	}

	/* main */
	#main {
		width: 94%;
		padding: 1% 3%;

	}

	#main h1 {
		text-align: center;
		font: 2em Helvetica;
		margin: 20px 0 10px 0;
		padding-bottom: 15px;
		border-bottom: 2px solid #444444;
	}

	/* ?????? ????? ????????? */
	.clear {
		margin-top: -1px;
		height: 1px;
		clear: both;
		zoom: 1;
	}

	/* Slider */
	.slider2 {
		/* ?????? ?????????? */
		width: 620px;
		height: 100px;
		background-color: rgb(229, 229, 229);
		/* ??????? ?????? ?????? ? ????? */
		margin: 50px auto;
		/* ?????????? ??????? ??? ?????? navy */
		padding: 0 30px;
		/* ???????????????? */
		position: relative;
		/* ?????? ?? ??? ??????? ?? ??????? */
		overflow: hidden;
	}

	/* ??????? ???? ?? ??????? ??????/????? ???????? ????????? ???? ????????? ????????,
    ??????? ????????????? ??? */
	.slider2::-moz-selection {
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	.slider2::selection {
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	.slide-list2 {
		position: relative;
		margin: 0;
		padding: 0;
	}

	.slide-wrap2 {
		position: relative;
		left: 0px;
		top: 0;
		/* ??????????? ????????? ?????? ??????? ???????? */
		width: 10000000px;
	}

	.slide-item2 {
		/* ?????? ?????? */
		width: 166px;
		height: 100px;
		text-align: center;
		/* ?????????? ??????? */
		padding: 10px;
		/* ????????? */
		float: left;
		margin-left: 15px;
	}

	.slide-item2_pig {
		background: url(../img/pig.png) no-repeat center;
		background-size: 103px;
	}

	.slide-item2_pig:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_rind {
		background: url(../img/Icon_Rind.png) no-repeat center;
		background-size: 100px;
	}
	.slide-item2_rind:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_horse {
		background: url(../img/horse.png) no-repeat center;
		background-size: 100px;
	}
	.slide-item2_horse:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_hund{
		background: url(../img/Hund.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_hund:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_schaf{
		background: url(../img/Schaf.png) no-repeat center;
		background-size: 120px;

	}
	.slide-item2_schaf:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_ziegenbock{
		background: url(../img/Ziegenbock.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_ziegenbock:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}
	.slide-item2_camel{
		background: url(../img/Camel.png) no-repeat center;
		background-size: 90px;

	}
	.slide-item2_camel:hover{
		background: url(../img/Tier_Rind_weiss.png) no-repeat center;
		background-size: cover;
		cursor: pointer;
	}


	.slider2  i{
		font-size: 80px;
		color: rgb(83,83,83) !important;
		margin-top: 5px;
	}
	.slider2 i:hover{
		color: rgb(0,138,201 )!important;
	}
	/* ????????? ??????/????? */
	.navy2 {
		/* ?????????? ???????????????? */
		position: absolute;
		top: 0;
		padding-left: 0;
		width: 40px;
		height: 100px;
		z-index: 100;
		/* ?????? ?????? */
		cursor: pointer;
	}

	.prev-slide2 {
		left: 0;
		padding-left: 10px;
	}

	.next-slide2 {
		right: 0;

	}

	.navy.disable2 {
		background: #dbdbdb;
	}

	/* ????????? ?????/????? */
	.auto2 {
		width: 7px;
		height: 11px;
		cursor: pointer;
		margin: 10px auto;
	}
}
@media (max-width: 768px){
	.slider2{
		width: 400px;
	}
	.slide-item2{
		width: 146px;
		margin-left: 17px;
	}
	.slide-item2_pig,
	.slide-item2_rind,
	.slide-item2_horse{
		background-size: 94px;
	}
	.slide-item2_schaf{
		background-size:110px;
	}







}
@media (max-width: 1200px ){
	.slider2 {
		margin-bottom: 10px;
	}
	.animals a{
		margin-top: 5px;
	}
	.news{
		margin-top: 140px;
	}






}
@media (max-width: 535px ){
	.slider2{
		width: 300px ;
	}
	.slide-item2{
		width: 100px;
	}
	.slide-item2_pig,
	.slide-item2_rind,
	.slide-item2_horse,
	.slide-item2_schaf,
	.slide-item2_hund,
	.slide-item2_ziegenbock,
	.slide-item2_camel{
		background-size: 65px;
	}
	.flex-nav-prev{
		display: none;
	}
	.flex-nav-next{
		display: none;
	}
}
@media (max-width: 420px ){
	.slider2{
		width: 229px ;
		margin-left: auto;
		margin-right: auto;
	}
	.slide-item2{
		width: 132px;
	}
}